.appBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #34415d;
    color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
