.ContactForm {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 360px;
    height: 300px;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 2px solid #0a0a0a;
    border-radius: 5px;
    padding: 15px;

}

.labelForm {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: red;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.spanForm {
    font-size: 18px;
    font-weight: 500;
    color: black;
    text-align: left;
}

.inputForm {
    border: 1px solid #8d8a8a;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: #000;
}

.btnForm {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-color: rgb(133, 130, 130);
    background-color: rgb(235, 235, 232);
    color: rgb(54, 52, 52);
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    width: 145px;
    height: 30px;
}